*, html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}

html {
	color: #333;
	height: 100%;
}
body {
	margin: 0 0px;
	height: 100%;
  background-color: #fffef9;
}
.wrapper {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
svg {
  width:100%;
  height:260px;
}
#adaoha, #egwuatuobi, #daughter, #son {
  font-family:'Crimson Text';
  text-transform: uppercase;
}
#adaoha {
  font-size:17vw;
  fill: url('#p1');
}
#daughter, #son {
  font-size:20pt;
  fill: #444;
}
#egwuatuobi {
  font-size:13vw;
  fill: url('#p2'); /* if you would rather the same pattern as the Adaoha page change this to #p1 */
}
::selection {
  background:#ff6600;
  color:#fff;
  fill: #fff;
  text-shadow:none;
}
::-webkit-selection {
  background:#ff6600;
  color:#fff;
  fill: #fff;
  text-shadow:none;
}
::-moz-selection {
  background:#ff6600;
  color:#fff;
  fill: #fff;
  text-shadow:none;
}