*, html {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}

html {
	color: #333;
	height: 100%;
}
body {
	margin: 0 0px;
	height: 100%;
  background-color: #fffef9;
}
.wrapper {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
svg {
  width:100%;
  height:260px;
}
#firstname, #meaning {
  font-family:'Crimson Text';
  text-transform: uppercase;
}
#firstname {
  font-size:8vw;
  fill: url('#p1');
}
#meaning{
  font-size:20pt;
  fill: #444;
}
::selection {
  background:#ff00ff;
  color:#fff;
  fill: #fff;
  text-shadow:none;
}
::-webkit-selection {
  background:#ff00ff;
  color:#fff;
  fill: #fff;
  text-shadow:none;
}
::-moz-selection {
  background:#ff00ff;
  color:#fff;
  fill: #fff;
  text-shadow:none;
}