*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Droid Serif", Serif;
  font-size: 16px;
  background-color: #e7e7e7;
  height: 100%;
}
.AddScores {
  display: block;
  width: 100%;
  z-index: 100;
  text-align: center;
}
.AddScores:after {
   content: " "; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
input {
  margin-bottom: 0px;
}
.score {
    height: 60px;
    width: 60px;
    font-size: 20px;
    padding: 2px;
}
.score:focus {
  outline: none;
}

.Scoreboard {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  margin: 0px auto;
  text-align: center;
  padding: 0;
  z-index: -1;
}

.BigScores {
  z-index: 98;
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
}
.team1-score,.team2-score {
  display: inline-block;
  position: absolute;
  width: calc(50%);
  height: 100%;
  font-size: 20vw;
  line-height: 80vh;
  margin: 0;
  padding: 0 40px;
  color: #d7d7d7;
  text-align: center;
}
.team2-score {
  right: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: block;
  background-color: transparent;
  position: relative;
}
.container:after {
  position: absolute;
  height: 100%;
  display: block;
  content: '';
  border-right: 2px solid #454545;
  width: calc(50% + 1px);
  text-align: center;
  z-index: -1;
  top: -18px;    
}
.left-container, .right-container {
  width: 50%;
  display: block;
  height: 100%;
}
.left-container:after, .right-container:after {
    display: block;
    content: '';
}
.left-container {
  float: left;
  border-right: 1px solid #454545;
}
.right-container {
  float: right;
  border-left: 1px solid #454545;
}
.points {
  height: 100%;
  float: left;
  width: calc(100% / 32);
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.4em;
  text-indent: -99999px;
  transition: 0.6s;
}
.points:nth-child(2n) {
    border-right: 1px solid #e7e7e7;
}
.points:nth-of-type(n+32) {
    border-right: 0;
  }

.t1 {
  background-color: rgba(211,47,47,0.8);
}
.t2 {
  background-color: rgba(25,118,210,0.8);
}