*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Droid Serif", Serif;
  font-size: 16px;
  background-color: #e7e7e7;
}
.wrapper {
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
}
input {
  margin-bottom: 50px;
}
.red {
  color: red;
}

#scores-container {
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
}

.score:focus {
  outline: none;
}

.score {
    height: 60px;
    width: 60px;
    font-size: 20px;
    padding: 2px;
}

.container {
  max-width: 600px;
  height: 80px;
  margin: 40px auto;
  display: block;
  background-color: #fff;
  position: relative;
}
.container:after {
  position: absolute;
  height: 120px;
  display: block;
  content: '';
  border-right: 2px solid #454545;
  width: calc(50% + 1px);
  text-align: center;
  z-index: -1;
  top: -18px;    
}
.team1-score,.team2-score {
  position: absolute;
  background-color: transparent;
  width: calc(50% - 1px);
  padding: 0 0 0 20px;
  height: 80px;
  text-align: left;
  font-size: 42px;
  line-height: 80px;
}
.team2-score {
  text-align: right;
  padding-right: 20px;
}
.left-container, .right-container {
  width: 50%;
  display: block;
  height: 100%;
}
.left-container:after, .right-container:after {
    display: block;
    content: '';
}
.left-container {
  float: left;
  border-right: 1px solid #454545;
}
.right-container {
  float: right;
  border-left: 1px solid #454545;
}
.points {
  height: 100%;
  float: left;
  width: calc(100% / 16);
  display: inline-block;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.4em;
  text-indent: -99999px;
  transition: 0.6s;
}
.points:nth-child(2n) {
    border-right: 1px solid #e7e7e7;
}
.points:nth-of-type(n+16) {
    border-right: 0;
  }

.t1 {
  background-color: #D32F2F;
}
.t2 {
  background-color: #1976D2;
}